<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/homePage" routerLinkActive="active">
    <img src="../assets/image001.png" width="30" height="30" alt="Company image">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link btn btn-light navButton" routerLink="/homePage" routerLinkActive="active">Home &nbsp;<i class="fas fa-home"></i></a>
      <a class="nav-item nav-link btn btn-light navButton" routerLink="/page1" routerLinkActive="active">Page 1 &nbsp;<i
          class="fas fa-sign-in-alt"></i></a>
      <a class="nav-item nav-link btn btn-light navButton" routerLink="/page2" routerLinkActive="active">Page 2 &nbsp;<i
          class="fas fa-upload"></i></a>
    </div>
  </div>
</nav>
<div class="appContent">
  <router-outlet></router-outlet>
</div>
