.pageSizes {
    min-width: 92vw;
    min-height: 92vh;
    margin: 0 auto;
}

.userDataBox {
    width: 80vw;
}

.imageBox {
    position: relative;
    width: 500px;
    height: 500px;
    background: darkgray;
    border: 1px solid #ffffff;
    margin-bottom: 5%;
}

.elementPosition {
    margin-bottom: 20px;
}

img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 80%;
}

button {
    padding: 5px 7vw;
    border: 1px solid #ffffff;
    border-radius: 0 !important;
}