<div class="container-fluid pageSizes">
  <div class="d-flex justify-content-center">
    <div class="userDataBox greetingsBox">
      <div class="d-flex justify-content-center" *ngIf="createdUser.name !== undefined && createdUser.surname !== undefined">
        <span>{{ createdUser.name }} {{ createdUser.surname }}`s Page</span>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center elementPosition">
    <button (click)="userAccess()" class="btn btn-success">ACCESS</button>
  </div>
  <div class="d-flex justify-content-center elementPosition" *ngIf="displayImage">
    <div class="imageBox">
      <img class="img-fluid" src="../../assets/image001.png" alt="Company image">
    </div>
  </div>
  <div class="d-flex justify-content-center" *ngIf="displayInfo">
    <div class="warningBox greetingsBox">
      <div class="d-flex justify-content-center">
        <span>You by at least 18 years old !</span>
      </div>
    </div>
  </div>
</div>
