form {
    margin: 0 5vw;
}

label {
    font-size: 18px;
    font-weight: 400;
}

input {
    font-size: 14px;
    padding: 6px 1vw;
    width: 20vw;
    height: 40px;
    border: 1px solid #ffffff;
    margin: 5px 4vw;
    background-color: darkgray;
    color: #ffffff;
}

button {
    padding: 5px 7vw;
    border: 1px solid #ffffff;
    border-radius: 0 !important;
}