<div class="container-fluid">
  <div class="d-flex align-content-start flex-nowrap">
    <div class="userDataBox">
      <span>{{ userDataBox }}</span>
    </div>
  </div>

  <form #userForm="ngForm">
    <div class="form-group">
      <div class="d-flex align-items-baseline">
        <label class="d-flex justify-content-center formDataBox" for="name">Name:</label>
        <input type="text" id="name" placeholder="" required pattern="[a-zA-Z]*" [(ngModel)]="model.name" name="name"
          #name="ngModel">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="warningBox">
          invalid character !
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="d-flex align-items-baseline">
        <label class="d-flex justify-content-center formDataBox" for="surname">Surname:</label>
        <input type="text" id="surname" placeholder="" required pattern="[a-zA-Z]*" [(ngModel)]="model.surname" name="surname"
          #surname="ngModel">
        <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="warningBox">
          invalid character !
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="d-flex align-items-baseline">
        <label class="d-flex justify-content-center formDataBox" for="age">Age:</label>
        <input type="text" id="age" placeholder="" required pattern="[1-9][0-9]*" maxlength="3" [(ngModel)]="model.age" name="age"
          #age="ngModel">
        <div *ngIf="age.invalid && (age.dirty || age.touched)" class="warningBox">
          invalid character !
        </div>
      </div>
    </div>

    <div class="userDataBox greetingsBox" *ngIf="name.valid && surname.valid">
      <div class="d-flex justify-content-center">
        <span>Hello {{ model.name }} {{ model.surname }}</span>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-success" (click)="newUser(); userForm.reset()" [disabled]="!userForm.form.valid">Save</button>
    </div>
  </form>
</div>
