/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Lato', sans-serif;
    width: 100%;
    height: 100%;
}

.homePageContent {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding: 15px 15vw;
    border: 1px solid #ffffff;
    background: #0579c1;
}

.userDataBox {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding: 15px 10vw;
    margin: 5vh 5vw;
    border: 1px solid #ffffff;
    background: #0579c1;
}

.formDataBox {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding: 5px 10vw;
    width: 5vw;
    height: 40px;
    border: 1px solid #ffffff;
    background: #0579c1;
}

.greetingsBox {
    margin-left: 0;
    margin-right: 0;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 3vh 0;
}

.warningBox {
    min-width: 10vw;
    font-weight: 400;
    font-size: 14px;
    padding: 10px 5vw;
    margin: 0 5vw;
    border: 1px solid #ffffff;
    color: #D8000C;
    background-color: #FFD2D2;
}


@media only screen and (max-width: 600px) {
    .formDataBox {
        font-weight: 500;
        font-size: 18px;
        color: #ffffff;
        padding: 5px 15vw;
        width: 5vw;
        height: 40px;
        border: 1px solid #ffffff;
        background: #0579c1;
    }

    .warningBox {
        min-width: 32vw;
        font-weight: 400;
        font-size: 14px;
        padding: 10px 1vw;
        margin: 0;
        border: 1px solid #ffffff;
        color: #D8000C;
        background-color: #FFD2D2;
    }
    
}