.pageSizes {
    min-width: 92vw;
    min-height: 92vh;
    margin: 0 auto;
}

.homePageContent {
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    padding: 15px 15vw;
    border: 1px solid #ffffff;
    background: #0579c1;
}